@use '../../styles/theme';

.heading {
  font-size: 2rem;
  font-family: theme.$primary-font-family;
}

.order_button {
  padding: 0.75rem 5rem;
  border: 0;

  font-size: 1rem;
  color: theme.$background-color;
  background-color: theme.$highlight-color;
  font-family: theme.$primary-font-family;

  font-weight: 600;

  margin-bottom: 2rem;

  &:hover {
    background-color: rgb(33, 184, 99);
    cursor: pointer;
  }

  &:active {
    background-color: theme.$primary-color;
    color: theme.$background-color;
  }
}

.tax,
.quantity {
  color: theme.$primary-color;
  font-family: theme.$primary-font-family;
  font-weight: 400;
  font-size: 1.5rem;

  b {
    color: theme.$primary-color;
    font-family: theme.$primary-font-family;
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.total {
  color: theme.$primary-color;
  font-family: theme.$primary-font-family;
  font-size: 1.5rem;
  font-weight: 500;

  b {
    color: theme.$primary-color;
    font-family: theme.$primary-font-family;
    font-size: 1.5rem;
    font-weight: 700;
  }
}

h1 {
  font-size: 1.875rem;
}

h2,
h3 {
  font-size: 1.75em;
}
