@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&family=Roboto&display=swap');

$primary-color: #1D1F22;
$secondary-color: #A6A6A6;
$background-color: #FFFFFF;
$highlight-color: #5ECE7B;

$primary-font-family: 'Raleway', sans-serif;
$secondary-font-family: 'Roboto', sans-serif;