@use '../styles/theme';

.container {
  display: flex;

  flex-wrap: wrap;
  justify-content: stretch;

  padding: 1em 0;

  font-size: inherit;

  .product {
    text-align: left;
    align-self: flex-start;
    flex-basis: 50%;
    margin-right: auto;

    .title {
      font-weight: 600;
      font-family: theme.$primary-font-family;

      text-decoration: none;
      color: theme.$primary-color;

      padding: 0;
      margin: 0;

      margin-bottom: 0.25em;
    }

    .subtitle {
      font-weight: 400;
      font-family: theme.$primary-font-family;
      color: theme.$primary-color;

      padding: 0;
      margin: 0;

      margin-bottom: 0.5em;
    }

    .price {
      margin: 0;

      font-family: theme.$primary-font-family;

      font-weight: 700;
      margin-bottom: 0.5em;
    }
  }

  .rhs {
    display: flex;
    justify-content: flex-end;
    flex: 1;

    .amount {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      text-align: center;

      font-size: 0.75em;
      font-family: theme.$primary-font-family;

      margin-right: 2em;

      .amount_button {
        background-color: theme.$background-color;
        width: 1.5em;
        height: 1.5em;

        border: solid 2px theme.$primary-color;

        &:hover {
          cursor: pointer;
        }

        &:active {
          color: theme.$background-color;
          background-color: theme.$primary-color;
          border: 0.125rem solid theme.$background-color;
        }
      }
    }

    .gallery {
      height: 100%;
      width: 40%;
    }
  }

  .swatch {
    vertical-align: top;

    margin: 0;
    padding: 0;
    display: inline-block;
    border: 0;

    margin-right: 0.4em;

    .default {
      font-size: 0.75em;
      display: inline-block;
      width: 2em;
      height: 2em;
      border: 0;
      border: 0.125rem solid theme.$background-color;
      margin-bottom: 0.5em;
    }

    .selected {
      margin-bottom: 0.5em;
      font-size: 0.75em;
      display: inline-block;
      width: 2em;
      height: 2em;
      border: 0.125em solid theme.$highlight-color;
    }
  }

  .attribute_container {
    font-size: inherit;
    font-family: theme.$secondary-font-family;
    margin-bottom: 0.25em;

    .attribute_name {
      font-size: 0.75em;
      margin: 0;
      margin-bottom: 0.25em;
    }
  }

  .attribute {
    vertical-align: top;
    display: inline-flex;

    border: 0;
    margin: 0;
    padding: 0;
    margin-right: 0.4em;

    .default {
      font-size: 0.75em;

      margin-bottom: 0.5em;
      padding: 0.6em 1em;
      background-color: theme.$background-color;
      border-color: theme.$primary-color;
    }

    .selected {
      margin-bottom: 0.5em;
      font-size: 0.75em;
      padding: 0.6em 1em;
      background-color: theme.$primary-color;
      border-color: theme.$primary-color;
      color: theme.$background-color;
    }
  }
}
