.container {
    display: flex;

    flex-wrap: wrap;
    justify-content: flex-end;

    align-items: stretch;

    .product {
        align-self: flex-start;
        margin-right: auto;
    }

    .amount {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        text-align: center;
    }

    .gallery {

        .image {
        }
    }
}