.container {
  position: relative;

  .bag_dropdown {
    position: absolute;
    background-color: white;
    display: block;
    width: 24rem;
    right: -2rem;

    .item {
      margin: 0 2rem;

      * {
        font-size: 14px;
      }
    }
  }
}
