@use '../styles/theme';

.container {
    display: flex;

    flex-wrap: wrap;
    justify-content: flex-end;

    align-items: stretch;

    .product {
        align-self: flex-start;
        margin-right: auto;
    }

    .amount {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        text-align: center;
    }

    .gallery {

        .image {
        }
    }
}

.swatch {
    vertical-align: top;

    display: inline-block;
    border: 0;

    margin-right: 0.4rem;

    .default {
        font-size: 1rem;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border: 0;
    }

    .selected {
        font-size: 1rem;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border: 0.1rem solid theme.$highlight-color;
    }
}

.attribute {
    vertical-align: top;
    display: inline-block;

    border: 0;
    margin-right: 0.4rem;

    .default {
        font-size: 1rem;

        display: inline-block;
        padding: 0.6rem 1rem;
        width: 5rem;
        background-color: theme.$background-color;
        border-color: theme.$primary-color;
    }

    .selected {

        font-size: 1rem;
        display: inline-block;
        padding: 0.6rem 1rem;
        width: 5rem;
        background-color: theme.$primary-color;
        border-color: theme.$background-color;
        color: theme.$background-color;
    }
}