@use '../styles/theme';


.currency {

    display: inline-block;
    position: relative;

    align-items: center;

    .drop_button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;

        align-items: center;

    }


    .drop_content {
        display: none;
    }

    &:hover .drop_content {


        position: absolute;
        display: block;
        left:-1.375rem;

        button {
            padding: 1rem 0.2rem; 
            
            width: 6rem;

            color: inherit;
            border: none;
            font: inherit;
            cursor: pointer;
            outline: inherit;

            background-color: theme.$background-color;

            display: block;

            &:hover {
                padding: 1rem 0.2rem; 
                background-color: lightgray;
            }

        }

        /* Important for vertical align on mobile phones */
        margin: 0;
    }


}