@use '../styles/theme';

a {
  text-decoration: none;
}

.not_in_stock:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(168, 172, 176, 0.19);
  z-index: 999;
}

.card {
  .not_in_stock_text {
    font-family: theme.$primary-font-family;
    font-weight: 500;
    font-size: 24px;

    color: theme.$primary-color;
    position: absolute;

    display: block;
    width: 100%;
    margin: 0 auto;
    top: 45%;

    text-align: center;
  }

  position: relative;
  padding: 1rem 1rem;

  .img {
    width: 20.4rem;
    height: 21rem;
    object-fit: cover;
  }

  .title {
    font-size: 1.25rem;
    font-weight: 300;
    font-family: theme.$primary-font-family;

    color: theme.$primary-color;
  }

  .price {
    font-size: 1rem;
    font-weight: 500;
    font-family: theme.$primary-font-family;

    color: theme.$primary-color;
  }

  &:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  }
}
